/********************************************
+               GENERAL
********************************************/
$primary-color: #0d3f7f;
$secondary-color: #df6800;
$tertiary-color: #157ab1;

/**
breakpoints responsive
**/
$breakpoints-mobile: 576px;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 768px;
$breakpoints-large-desktop: 1200px;
